<%= link_to 'Areas Index', '/areas' %> | <%= link_to 'Climbs Index', '/climbs' %>
<h1>Climbs</h1>
<%= button_to 'Show All Climbs', '/climbs', method: :get %>
<%= form_with url: "/climbs?exact_name=#{:exact}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
    <div>
        <p>
            Only show climbs with <%= form.text_field :exact, value: params[:exact] %> in the name (exact match).
            <%= form.submit "Search by Name", name: nil %>
        </p>
    </div>
<% end %>
<ul>
    <% @climbs.show_top_ropeable.each_with_index do |climb, index| %>
        <div id="climb-<%=index%>">
            <li><strong style="font-size:150%"><%= climb.name %></strong> | 
            <%= link_to "View Climb", "/climbs/#{climb.id}" %> | 
            <%= link_to "Edit Climb", "/climbs/#{climb.id}/edit" %> |
            <%= link_to "Delete Climb", "/climbs/#{climb.id}", method: :delete %>
            <ul>
                <!-- <li><strong>Area Name: </strong><%= Area.find(climb.area_id).name %></li> -->
                <li><strong>Top Ropeable? </strong><%= climb.top_rope %></li>
                <li><strong>Grade: </strong><%= climb.grade %></li>
                <li><strong>Pitches: </strong><%= climb.pitches %></li>
                <li><strong>Created At: </strong><%= climb.created_at %></li>
                <li><strong>Updated At: </strong><%= climb.updated_at %></li>
            </ul>
            <br>
        </div>
    <% end %>
</ul>