<h1><%= @climb.name %></h1>
<p><strong>ID: </strong><%= @climb.id%></p>
<p><strong>Name: </strong><%= @climb.name %></p>
<p><strong>Lead Climb? </strong><%= @climb.lead %></p>
<p><strong>Sport Climb? </strong><%= @climb.sport %></p>
<p><strong>Trad Climb? </strong><%= @climb.trad %></p>
<p><strong>Top Ropeable? </strong><%= @climb.top_rope %></p>
<p><strong>Grade: </strong><%= @climb.grade %></p>
<p><strong>Pitches: </strong><%= @climb.pitches %></p>
<p><strong>Created At: </strong><%= @climb.created_at %></p>
<p><strong>Updated At: </strong><%= @climb.updated_at %></p>