<a href="/areas">Areas Index</a> | <a href="/climbs">Climbs Index</a>
<h1>Climbs in <%= @area.name %></h1>
<% @climbs.each do |climb| %>
    <h3><%= climb.name %></h3>
    <ul>
        <li><strong>ID: </strong><%= climb.id%></li>
        <li><strong>Top Ropeable? </strong><%= climb.top_rope %></li>
        <li><strong>Grade: </strong><%= climb.grade %></li>
        <li><strong>Pitches: </strong><%= climb.pitches %></li>
        <li><strong>Created At: </strong><%= climb.created_at %></li>
        <li><strong>Updated At: </strong><%= climb.updated_at %></li>
    </ul>
<% end %>
<a href="/areas/<%= @area.id %>/climbs/new">Create Climb</a>
