<%= link_to 'Areas Index', '/areas' %> | <%= link_to 'Climbs Index', '/climbs' %>
<h1> Areas </h1>
<ul>
    <% @areas.each_with_index do |area, index| %>
    <div id="area-<%=index%>">
        <li><strong>Name: </strong><%= area.name %> | <%= link_to "View Area", "/areas/#{area.id}" %> | <%= link_to 'Edit Area', "/areas/#{area.id}/edit" %> | <%= link_to 'Delete Area', "/areas/#{area.id}", method: :delete %>
        <ul>
            <li>
                <strong>Created At: </strong><%= area.created_at %>
            </li>
        </ul>
    </div>
    <% end %>
</ul>
<br>
<%= link_to 'New Area', "/areas/new" %>