<%= link_to 'Areas Index', '/areas' %> | <%= link_to 'Climbs Index', '/climbs' %>
<h1>Create New Area</h1>
<%= form_with url: "/areas", method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <br>
  
  <div>
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <br>
  
  <div>
    <%= form.label 'Has Rock Climbing?' %>
    <%= form.check_box :rock_climbing %>
  </div>

  <br>
  
  <div>
    <%= form.label :elevation %>
    <%= form.number_field :elevation %>
  </div>

  <br>
  
  <div>
    <%= form.label :latitude %>
    <%= form.number_field :latitude, step: :any %>
  </div>

  <br>
  
  <div>
    <%= form.label :longitude %>
    <%= form.number_field :longitude, step: :any %>
  </div>

  <br>
  
  <%= form.submit 'Create Area' %>
<% end %>