<p><a href="/areas">Areas Index</a></p>
<p><a href="/climbs">Climbs Index</a></p>
<h1><%= @area.name %></h1>
<% @climbs.each do |climb| %>
    <p><strong>ID: </strong><%= climb.id %></p>
    <p><strong>Name: </strong><%= climb.name %></p>
    <p><strong>Lead Climbable? </strong><%= climb.lead %></p>
    <p><strong>Sport Climbable? </strong><%= climb.sport %></p>
    <p><strong>Trad Climbable? </strong><%= climb.trad %></p>
    <p><strong>Top Ropeable? </strong><%= climb.top_rope %></p>
    <p><strong>Grade: </strong><%= climb.grade %></p>
    <p><strong>Pitches: </strong><%= climb.pitches %></p>
    <p><strong>Created At: </strong><%= climb.created_at %></p>
    <p><strong>Updated At: </strong><%= climb.updated_at %></p>
    <br>
<% end %>