<%= link_to 'Areas Index', '/areas' %> | <%= link_to 'Climbs Index', '/climbs' %>
<h1><%= @area.name %></h1>
<h3><a href="/areas/<%= "#{@area.id}" %>/climbs"">Climbs in Area</a></h3>
<ul>
    <li><strong>ID: </strong><%= @area.id%></li>
    <li><strong>Number of Climbs: </strong><%= @area.count_of_climbs %></li>
    <li><strong>State: </strong><%= @area.state %></li>
    <li><strong>Has Climbing? </strong><%= @area.rock_climbing %></li>
    <li><strong>Elevation: </strong><%= @area.elevation %></li>
    <li><strong>Latitude: </strong><%= @area.latitude %></li>
    <li><strong>Longitude: </strong><%= @area.longitude %></li>
    <li><strong>Created At: </strong><%= @area.created_at %></li>
    <li><strong>Updated At: </strong><%= @area.updated_at %></li>
</ul>
<%= link_to 'Update Area', "/areas/#{@area.id}/edit" %>