<h1><%= @area.name %></h1>
<p><strong>ID: </strong><%= @area.id%></p>
<p><strong>State: </strong><%= @area.state %></p>
<p><strong>Has Climbing? </strong><%= @area.rock_climbing %></p>
<p><strong>Elevation: </strong><%= @area.elevation %></p>
<p><strong>Latitude: </strong><%= @area.latitude %></p>
<p><strong>Longitude: </strong><%= @area.longitude %></p>
<p><strong>Created At: </strong><%= @area.created_at %></p>
<p><strong>Updated At: </strong><%= @area.updated_at %></p>