<!DOCTYPE html>
<html>
  <head>
    <title>OutdoorAreas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- <%= link_to 'Areas Index', '/areas' %> | <%= link_to 'Climbs Index', '/climbs' %> -->
    <%= yield %>
  </body>
</html>
